<h2>
<A HREF="<TMPL_VAR NAME="LINKPAGE">"><TMPL_VAR NAME="TITLE"></A>
</h2>
<p/>
<dl>
<TMPL_LOOP NAME="LOOP">
<dt>
<TMPL_VAR NAME="NAME"> 
</dt>
<dd>
<A HREF="<TMPL_VAR NAME="LINKGET">"><button>download</button></A>
<A HREF="<TMPL_VAR NAME="LINKREAD">"><button>view</button></A>
<A HREF="<TMPL_VAR NAME="LINKUPDATE">"><button>update</button></A>
<A HREF="<TMPL_VAR NAME="LINKDELETE">"><button>delete</button></A>
<br/>
id: <TMPL_VAR NAME="ID"> 
type: <TMPL_VAR NAME="TYPE">
<br/>
<TMPL_IF NAME="TAGS">
tags: <TMPL_VAR NAME="TAGS">
<br/>
</TMPL_IF>
<TMPL_IF NAME="DESCRIPTION">
<TMPL_VAR NAME="DESCRIPTION">
</TMPL_IF>
</dd>
<p/>
</TMPL_LOOP>
</dl>
